@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.two-part-of-the-page {
  display: flex;
}

.text-container {
  width: 50%;
  background-color: #1b1b2c54;
  padding: 2%;
  margin-top: 5%;
  position: relative;
  z-index: 10;
}

.text-container h2 {
  font-size: 6em;
  font-weight: 800;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
}

.text-container h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
}

.text-container p {
  position: relative;
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  color: #fff;
}

.text-container a {
  display: inline-block;
  font-size: 1.1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
}

.two-part-of-the-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}
