#components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.logo {
  text-align: center;
  padding: 2%;
}
.fastyslim-logo {
  width: 80%;
}

.page-wrapper {
  background: #ffffff;
  padding: 25px 16px;
  margin: 0 25px 25px 25px;
}
.breadcrumbs-container {
  width: 100%;
  background-color: #ffffff;
  padding: 1px;
  padding-left: 10px;
}
